/*
 GENERAL
*/
*
{
  margin: 0;
  padding: 0;
}

html,
body
{
  font-family: 'Arial', sans-serif;
  letter-spacing: .05rem;
  background-color: #0A0A0A;
}

a {
  text-decoration: none;
  color: #EDEDED;
  transition: color .3s ease-in-out;
}

a:hover {
  color: #8F8F8F;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/*
 LANDING PAGE
*/
/* Top section */
.contents {
  position: relative;
  color: #EDEDED;
  padding-inline: 5rem;
  padding-bottom: 5rem;
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .contents {
    padding-inline: 2.5rem;
  }
}

.top-section {
  height: 100dvh;
  position: relative;
  text-align: center;
}

.top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

.top-info {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.top-description {
  margin-bottom: 1rem;
  font-size: .85rem;
}

.top-sns-container {
  width: fit-content;
  margin-inline: auto;
}

.top-sns-container ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* Arrow */
.arrow,
.arrow:before {
  position: absolute;
  left: 50%
}

.arrow {
  width: 25px;
  height: 25px;
  bottom: 5%;
  transform: translateX(-50%) rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 1px #EDEDED solid;
  border-bottom: 1px #EDEDED solid;
}

.arrow:before {
  content: '';
  width: 15px;
  height: 15px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/* Projects section */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1279px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-div {
  width: 100%;
}

.project-div a {
  display: block;
  color: #EDEDED;
}

.project-img {
  background-color: #EDEDED;
  padding-top: 55%;
  margin-bottom: .5rem;
  background-position: center;
  background-size: cover;
  position: relative
}

.project-title {
  font-size: 1rem;
  font-weight: 500;
}

.project-date {
  font-size: .75rem;
}

.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.project-hover p {
  letter-spacing: .15rem;
  font-size: .8rem;
}

.project-div:hover .project-hover {
  opacity: 1;
}

.project-info {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.project-div:hover .project-info {
  opacity: .5;
}

/*
PROJECT PAGES
*/
.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  padding: .75rem 1rem;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  font-size: .8rem;
  transition: all .3s ease-in-out;
}

.back-link:hover {
  border: 1px solid #8F8F8F;

}

/*
HAMBURGER MENU
*/
.hamburger-menu {
  position: fixed;
  background-color: #8F8F8F;
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
  border-radius: 5px;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.hamburger-menu:hover {
  opacity: .5;
}

.hamburger-menu div {
  background-color: #E5E4E2;
  width: 100%;
  height: .1rem;
  margin-bottom: .25rem;
  border-radius: 5px;
  transition: all .3s ease-in-out;

}

.hamburger-menu div:last-of-type {
  margin-bottom: unset;
}

.hamburger-menu.open div:first-of-type {
  transform: translateY(0.35rem) rotate(45deg);

}

.hamburger-menu.open div:nth-of-type(2) {
  opacity: 0;
}

.hamburger-menu.open div:last-of-type {
  transform: translateY(-0.35rem) rotate(-45deg);

}

.menu {
  background-color: #E5E4E2;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 9;
  transition: all .3s ease-in-out;
  padding-block: 5rem;
  overflow: hidden;
  top: 0;
  right: 0
}

.menu ul {
  list-style: none;
  margin: 3rem;
}

.menu ul li button {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(143, 143, 143, 1);
  width: 100%;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  background-color: #EDEDED;
  color: #8F8F8F;
  transition: all .3s ease-in-out;
}

.menu ul li button:hover {
  background-color: #8F8F8F;
  color: #EDEDED;
}

.menu ul li button.active {
  background-color: #8F8F8F;
  color: #EDEDED;
}

.menu.open {
  width: 15rem;
}

@media screen and (max-width: 480px) {
  .menu.open {
    width: 100vw;
  }
}
